.bedrijven-nominaties-total{
    margin-top: 72px;
    display: flex;
    justify-content: center;
    padding: 0 7%;
    flex-wrap: wrap;
}
.rectangle-achtergrond{
    background-color: var(--primary-color);
}
.logo-image{
    width: 140px;
    height: auto;
    position: absolute; 
}
.circle{
    background-color: var(--neutral-color);
    width: 176px;
    height: 176px;
    border-radius: 100px;
}
.bedrijf-nominatie-info{
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 32px 48px 32px 0;
}


@media (max-width: 430px){
    .bedrijven-nominaties-total{
        margin-top: 72px;
        display: flex;
        justify-content: center;       
        flex-wrap: wrap;
        padding: 0 7%;
    }
    .logo-image{
        border-radius: 100px;
        width: 80px;
        height: auto;
        position: absolute; 
    }
    .circle{
        background-color: var(--neutral-color);
        width: 144px;
        height: 144px;
        border-radius: 100px;
        margin: 0 8px 0 8px;
    }
    .bedrijf-nominatie-info{
        display: flex;
        align-items: center;
        justify-content: center;  
        margin: 32px 0 32px 0;
    }
}