.banner{
    border: 3px solid red;
    display: flex;
    justify-content: center;
}
.banner-background{
    border-radius: 15px;
}
.banner-wave{
    position: absolute;
    width: 88%;
    margin-top: 20px;
}
.banner-title-cursive{
    font-family: 'Homemade Apple', cursive;
    position: absolute;
    margin: 100px 0 0 0;
    font-size: 56px;
    color: #A0AD9E
}
.banner-title{
    position: absolute;
    margin-top: 90px;
    font-size: 56px;
    font-weight: var(--font-weight-semibold);
    color: var(--neutral-color);
    z-index: 5;
}
.wie-zijn-wij-photo{
    width: 520px;
    height: 585px;
}