.hoe-moet-je-boeken{
    font-size: 40px;
    font-weight: var(--font-weight-semibold);
    margin: 160px 0 0 187px;
    color: var(--primary-color);
    display: flex;    
    position: absolute;
}
.hoe-moet-je-boeken-cursive{
    font-family: 'Homemade Apple', cursive;
    font-size: 40px;
    color: #E7E4E1;
    letter-spacing: 3px;
    margin: 168px 0 0 187px;
    display: flex;
    position: absolute;
}
.description{
    display: flex;
    position: absolute;
    margin: 258px 0 0 72px;
    width: 632px;
    color: var(--secondary-color);
}


@media (max-width: 430px){
    .hoe-moet-je-boeken{
        display: flex;    
        position: absolute; 
        width: 100%;
        justify-content: center;
        font-size: 24px;
        margin: 110px 0 0 0;
    }
    .hoe-moet-je-boeken-cursive{
        font-family: 'Homemade Apple', cursive;
        font-size: 24px;
        margin: 118px 0 0 0;
        display: flex;    
        position: absolute; 
        width: 100%;
        justify-content: center;
        font-size: 24px;
    }
    .description{
        display: flex;
        position: absolute;
        justify-content: center;
        margin: 190px 8% 0 8%;
        width: 80%;
    }
}
