.booking-form-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .booking-form label {
    display: block;
    margin-bottom: 8px;
  }

  .booking-form input {
    width: 100%;
  }
  
  .booking-form input,
  .booking-form button {
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  

  .booking-submit {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .booking-form button:hover {
    background-color: #45a049;
  }