.plattegrond-title{
    color: var(--primary-color);
    display: flex;
}
.rectangle{
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(74, 64, 52, 0.5);
    background-color: darkseagreen;
    width: 968px;
    height: 775px;
    margin: 72px 0 160px 84px;
    position: relative;
}
.rectangle-plekken{
    background-color:cornflowerblue;
    color: var(--neutral-color);
    font-size: 40px;
    font-weight: var(--font-weight-semibold);   
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer
}
