body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.info-box {
  grid-column: 1/4;
  grid-row: 2;
  border-radius: 15px;
  background-color: var(--neutral-color);
  padding: 20px;
  box-shadow: 0px 0px 25px rgba(74, 64, 52, 0.2);
  margin: 24px 20px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box h2 {
  margin-top: 40px;
  font-size: 32px;
}

.info-box a {
  max-width: 800px;
  margin-top: 40px;
  display: block;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 40px;
}

.boeking-box{
  background-color: #60775d3c;
  box-shadow: 0px 0px 25px rgba(74, 64, 52, 0.2);
  border-radius: 15px;
}


.booking-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 8px;
}

.booking-form-container form div{
  display: flex;
  gap: 10px;
  align-items: center;
}


form input,
form select {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: var(--secondary-color);
}


.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.common-section{
  padding: 20px;
}

.customer-info {
  grid-column: 1; 
  grid-row: 3; 
}

.volgende {
  background-color: var(--primary-color); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 10px 20px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.volgende:hover {
  background-color: #45a049;
}

.total-box {
  grid-column: 2; 
  grid-row: 3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(74, 64, 52, 0.1);
}

.banner{
  grid-column: 1/4;
  grid-row: 1;
}
.banner-background{
  border-radius: 15px;
}
.banner-wave{
  position: absolute;
  width: 100%;
  margin-top: 20px;
}
.banner-title-cursive{
  font-family: 'Homemade Apple', cursive;
  margin: 100px 0 0 0;
  letter-spacing: 3px;
  font-size: 56px;
  color: #A0AD9E
}
.banner-title{
  position: absolute;
  margin-top: 90px;
  font-size: 56px;
  font-weight: var(--font-weight-semibold);
  color: var(--neutral-color);
  z-index: 5;
}


@media (max-width: 768px) {
  .booking-form-container {
    grid-template-columns: 1fr; 
  }

  .total-box {
    grid-column: 1;
    grid-row: 3; 
  }
}
