.plattegrond-title, .legenda-title{
    color: var(--primary-color);
    display: flex;
    position: absolute;
}
.booking-plattegrond{
    display: flex;
    justify-content: center;
    border: 2px solid red;
}
.rectangle{
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(74, 64, 52, 0.5);
    background-color: darkseagreen;
    width: 968px;
    height: 775px;
    margin: 72px 0 160px 0px;
    position: relative;
    display: flex;
}
.rectangle-plekken{
    background-color:cornflowerblue;
    color: var(--neutral-color);
    font-size: 40px;
    font-weight: var(--font-weight-semibold);   
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer
}
.rectangle-legenda{
    width: 296px;
    height: 312px;
    margin: 72px 0 0 40px;
    background-color:cadetblue;
    border-radius: 15px;
}
.rectangle-legenda-inside{
    margin: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: var(--font-weight-semibold);
    color: var(--neutral-color);
}
