.cta-achtergrond{
    width: 100%;
    z-index: 0;
    display: flex;
}
h1{
    font-size: 56px;
    position: absolute;
    color: #f8f5f2;
    margin: 246px 0 0 104px;
    text-shadow: 0px 0px 10px rgba(74, 64, 52, 0.5);
}
p1{
    font-family: 'Homemade Apple', cursive;
    font-size: 56px;
    letter-spacing: 3px;
    position: absolute;
    color: rgba(248, 245, 242, 20%);
    margin: 259px 0 0 104px;
    text-shadow: 0px 0px 10px rgba(74, 64, 52, 0.5);
}
p{
    z-index: 5;
    font-size: 20px;
    color: #F8F5F2;
    position: absolute;
    margin: 355px 0 0 104px;
    font-weight: 500;
    text-shadow: 0px 0px 10px rgba(74, 64, 52, 0.5);
}
.boeken-button{
    font-family:'IBM Plex Mono', monospace;
    position: absolute;
    cursor: pointer;
    margin: 408px 0 0 104px;
    padding: 32px 160px;
    font-size: 32px;
    line-height: 35.2px;
    font-weight: 700;
    color: #F8F5F2;
    background-color: #ECCFCC;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(74, 64, 52, 0.5);
    transition: background-color 0.3s ease-in-out;
}
.boeken-button:hover {
    background-color: #d7a9a3;
}


/*This is for the Campingplekken*/
h3{
    font-size: 40px;
    font-weight:900;
    margin: 72px 0;
    color: #60775D;
    display: flex;    
    position: absolute; 
     width: 100%;
    justify-content: center;
}
p2{
    font-family: 'Homemade Apple', cursive;
    font-size: 40px;
    color: #E7E4E1;
    letter-spacing: 3px;
    margin-top: 75px;
    display: flex;
    justify-content: center;
}