.cta-achtergrond{
    width: 100%;
    z-index: 0;
    display: flex;
}
.call-to-action{
    position: absolute;
    margin: 246px 0 0 7%;
}
.cta-title{
    font-size: 56px;
    color: var(--neutral-color);
    font-weight: var(--font-weight-semibold);
    position: absolute;
}
.cta-title-cursive{
    font-family: 'Homemade Apple', cursive;
    font-size: 56px;
    letter-spacing: 3px;
    color:#f8f5f24a ;
}
.cta-beschrijving{
    z-index: 5;
    font-size: 20px;
    color: var(--neutral-color);
    text-shadow: 0px 0px 10px rgba(74, 64, 52, 0.5);
}
.boeken-button{
    font-family:'IBM Plex Mono', monospace;
    font-weight: var(--font-weight-semibold);
    font-size: 32px;
    line-height: 35.2px;
    color: var(--neutral-color);
    background-color: var(--Button-color);
    cursor: pointer;
    padding: 32px 160px;
    margin-top: 32px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(74, 64, 52, 0.5);
    transition: background-color 0.3s ease-in-out;
}
.boeken-button:hover {
    background-color: #C28E88;
}