.campingplek{
    display:flex;
    flex-direction: column;
    margin: 24px 40px;
}
h4{
    font-size: 24px;
    margin-top: 24px;
    width: 408px;
    color: #60775D;
    border:3px solid #60775D;
}
.filler-photo{
    width: 408px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
}
