.onze-campingplekken{
    font-size: 40px;
    font-weight:900;
    margin: 72px 0;
    color: #60775D;
    display: flex;    
    position: absolute; 
    width: 100%;
    justify-content: center;
}
.onze-campingplekken-cursive{
    font-family: 'Homemade Apple', cursive;
    font-size: 40px;
    color: #E7E4E1;
    letter-spacing: 3px;
    margin-top: 78px;
    display: flex;
    justify-content: center;
}
