.container {
    text-align: center;
  }
  
  .header-box {
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); /* horizontal offset, vertical offset, blur radius, spread radius, color */
  }
  
  .header {
    font-size: 2em;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .box {
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); /* horizontal offset, vertical offset, blur radius, spread radius, color */
    border-radius: 15px;
  }

  .dashboard-title-cursive{
    color: #E7E4E1;
    text-shadow: none;
    font-family: "Homemade Apple", cursive;
    font-size: 40px;
    margin: 0;
    letter-spacing: 3px;
    margin: 7px 0 0 0;
    position: absolute;
}
.dashboard-title{
    color: var(--primary-color);
    font-weight: var(--font-weight-semibold);
    font-size: 40px;
    z-index: 10;
}
.title-combo-dashboard{
  display: flex;
  justify-content: center;
}