.faqs-title{
    font-size: 40px;
    font-weight: var(--font-weight-semibold);
    margin: 160px 0 0 873px;
    color: var(--primary-color);
    display: flex;    
    position: absolute; 
}
.faqs-title-cursive{
    font-family: 'Homemade Apple', cursive;
    font-size: 40px;
    color: #E7E4E1;
    letter-spacing: 3px;
    margin: 168px 0 0 873px;
    display: flex;
    position: absolute;
}
.faq-totaal{
    margin: 258px 104px 0 776px;
}

.faq-solo{
    padding: 24px;
    margin: 12px 0 12px 0;
    border-radius: 15px;
    display: flex;
    align-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 25px rgba(74, 64, 52, 0.2);
    color: var(--secondary-color);
}
.faq-title{
    font-size: 16px;
}
.faq-description{
    font-size: 16px;
    display: flex;
}

.faq-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.dropdown-icon{
    font-size: 12px;
}

.faq-answer{
    margin-top: 30px;
}


@media (max-width: 430px){
    .faqs-title{
        font-size: 24px;
        margin: 1000px 0 0 0px;
        color: var(--primary-color);
        display: flex;    
        position: none; 
        justify-content: center;
        width: 100%;
    }
    .faqs-title-cursive{
        font-family: 'Homemade Apple', cursive;
        color: #E7E4E1;
        letter-spacing: 3px;
        font-size: 24px;
        margin: 1000px 0 0 0px;
        display: flex;    
        position: none; 
        justify-content: center;
        width: 100%;
    }
    .faq-totaal{
        margin: 1098px 8% 0 8%;
    }
    
    .faq-solo{
        padding: 24px;
        margin: 12px 0 12px 0;
        border-radius: 15px;
        display: flex;
        align-content: center;
        flex-direction: column;
        box-shadow: 0px 0px 25px rgba(74, 64, 52, 0.2);
        color: var(--secondary-color);
    }
    .faq-title{
        font-size: 16px;
    }
    .faq-description{
        font-size: 16px;
        display: flex;
    }
    
    .faq-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    
    .dropdown-icon{
        font-size: 12px;
    }
    
    .faq-answer{
        margin-top: 30px;
    }
}