
.faq-solo{
    padding: 24px;
    margin: 12px 0 12px 0;
    border-radius: 15px;
    display: flex;
    align-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 25px rgba(74, 64, 52, 0.2);
    color: var(--secondary-color);
}
.faq-title{
    font-size: 24px;
}
.faq-description{
    font-size: 16px;
    display: flex;
}

