.reviews{
    font-size: 40px;
    font-weight: var(--font-weight-semibold);
    margin: 160px 0;
    color: var(--primary-color);
    display: flex;    
    position: absolute; 
    width: 100%;
    justify-content: center;
}
.reviews-cursive{
    font-family: 'Homemade Apple', cursive;
    font-size: 40px;
    color: #E7E4E1;
    letter-spacing: 3px;
    margin-top: 177px;
    display: flex;
    justify-content: center;
}
.reviews-total{
    display: flex;

    overflow-x: scroll;
}
.reviewcard{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 24px 20px 100px 20px;
    padding: 24px;
    box-shadow: 0px 0px 25px rgba(74, 64, 52, 0.2);
}
.review-info{
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    width: 384px;
}
.review-title{
    font-weight: var(--font-weight-semibold);
    font-size: 24px;
}
.review-author{
    color: #ADA39F;
    font-size: 14px;
    margin: 8px 0;
    font-weight: var(--font-weight-normal);
}
.rating-image{
    margin: 56px 0 32px 0;
    height: 40px;
}
.reviewswave{
    position: absolute;
    display: flex;
    width: 100%;
    margin-top: 73px;
}